#node_modules
node_modules/

#build
dist/
build/

#typescript
*.tsbuildinfo

#logs
logs
*.log
npm-debug.log*

#vscode
.vscode/

#ambiente
.env
.env.*.local

#sistema
.DS_Store
Thumbs.db

#cache
.cache/
